@keyframes dash-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

@keyframes dot-animation {
  0% {
    background-position: -4px -2px; }
  100% {
    background-position: 100% -100%; } }

::selection {
  background-color: blue;
  /* WebKit/Blink Browsers */
  color: #ffe600; }

body {
  background: #ffe600;
  margin: 0;
  color: blue;
  font-family: arial; }
  body.pink, body.pink li:not(:last-of-type), body.pink li:not(:last-of-type):hover, body.pink #circle {
    background: #f58894; }
  body.pink .name {
    background: linear-gradient(90deg, #f58894 14px, transparent 1%) center, linear-gradient(#f58894 14px, transparent 1%) center, blue;
    background-size: 16px 16px;
    background-position: -4px -4px; }
  body.pink li:last-of-type {
    color: #f58894; }
  body.pink #circle .wink {
    display: inline; }
  body.pink #circle .smile {
    display: none; }

#main {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.name {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffe600 14px, transparent 1%) center, linear-gradient(#ffe600 14px, transparent 1%) center, blue;
  background-size: 16px 16px;
  background-position: -4px -4px;
  animation: dot-animation 20s infinite linear; }
  .name p {
    position: relative;
    z-index: 1;
    margin: 16px auto 0; }

h1 {
  display: inline;
  font-weight: 500;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

#circle {
  width: 75px;
  height: 75px;
  background: #ffe600;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid blue; }
  #circle, #circle .circle-text {
    transition: .2s width ease-in-out, .2s height ease-in-out; }
  #circle .circle-text {
    user-select: none;
    font-size: 18px;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg); }
  #circle .wink {
    display: none; }

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none; }

li {
  padding: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 1px solid blue; }
  li:hover {
    position: relative;
    left: -5px;
    top: -5px;
    border: 1px solid blue;
    color: blue;
    background: #ffe600;
    cursor: pointer; }
    li:hover:before {
      content: " ";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      bottom: -7px;
      right: -7px;
      z-index: -1;
      background-image: linear-gradient(45deg, blue 17.5%, rgba(0, 0, 255, 0) 17.5%, rgba(0, 0, 255, 0) 32.5%, blue 32.5%, blue 67.5%, rgba(0, 0, 255, 0) 67.5%, rgba(0, 0, 255, 0) 82.5%, blue 82.5%);
      background-size: 8px 8px;
      animation: dash-animation 30s infinite linear; }
  li:last-of-type {
    background: blue;
    color: #ffe600; }

@media (min-width: 769px) {
  .container {
    width: 100%;
    flex-direction: row; }
  .menu, .name {
    width: 50%; }
  .menu, ul, li {
    display: flex; }
  ul {
    flex-direction: column;
    width: 100%;
    border-left: 1px solid blue; }
  li {
    flex: 1;
    flex-direction: column;
    justify-content: center; }
    li:first-of-type {
      border: none; }
      li:first-of-type:hover {
        border: 1px solid blue; }
  #circle {
    width: 150px;
    height: 150px; }
    #circle:hover {
      width: 200px;
      height: 200px;
      border: 1px solid blue;
      box-shadow: 16px 0px 0 blue;
      cursor: pointer; }
      #circle:hover .circle-text {
        opacity: 1; } }
