@font-face {
  font-family: 'Terminus';
  src: url("/fonts/Terminus.ttf") format("truetype"); }

body {
  background: #dc6976;
  font-smooth: never;
  margin: 0;
  color: #ffe600;
  font-family: monospace; }

#main {
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background: #dc6976;
  text-align: center;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

h1 {
  font-family: monospace;
  letter-spacing: 4px;
  font-weight: 500;
  color: #ffe600;
  margin-top: 0; }

.list-header {
  margin-bottom: 0; }

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none; }

li {
  padding: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 1px solid #ffe600;
  border-left: 1px solid #ffe600;
  border-right: 1px solid #ffe600; }
  li:last-of-type {
    border-bottom: 1px solid #ffe600;
    background: #042949; }
  li:hover {
    color: #042949;
    cursor: pointer;
    background: #ffe600; }

@media (min-width: 800px) {
  #main {
    margin-left: auto;
    margin-right: auto;
    padding: 32px; }
  .container {
    flex-direction: row;
    flex-grow: 1;
    background: #dc6976;
    padding: 16px; }
    .container.inner {
      padding: 32px; } }
