::selection {
  background-color: black;
  /* WebKit/Blink Browsers */
  color: white; }

@keyframes dash-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

@keyframes dot-animation {
  0% {
    background-position: -4px -2px; }
  100% {
    background-position: 100% -100%; } }

@keyframes marquee {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(-100%); } }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  background: white;
  margin: 0;
  color: black;
  font-family: arial; }

#main {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.name {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; }

.background-and-foreground {
  background-image: url("https://media.giphy.com/media/1lDH8wAvFZY2WyoiUL/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover 101%;
  background-position: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border-bottom: 2px solid black; }

.foreground {
  width: 60%;
  margin: 0 auto;
  border: 5px solid black; }

h1 {
  font-size: 1.9em;
  display: block;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  background-color: gold;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1; }
  h1 span {
    display: block;
    padding: 16px; }
  h1 div {
    display: flex;
    justify-content: space-between; }

.menu {
  background: black; }

.menu-item {
  background: paleturquoise;
  margin: 0;
  padding: 32px;
  text-align: center;
  position: relative; }
  .menu-item span {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 100px;
    line-height: 100%; }
  .menu-item h2 {
    margin: 0; }
  .menu-item a {
    display: block;
    height: 100%;
    width: 100%; }
    .menu-item a:hover {
      text-decoration: none; }
  .menu-item#contact {
    background: cornflowerblue; }
  .menu-item#previous-work {
    border-bottom: 2px solid black; }
    .menu-item#previous-work.menu-open {
      background: paleturquoise; }
  .menu-item.menu-open#contact:hover:before, .menu-item.menu-open#previous-work:hover:before {
    content: none; }
  .menu-item:not(.menu-open):hover {
    position: relative;
    z-index: 10;
    left: -5px;
    top: -5px;
    border: 2px solid black;
    background: paleturquoise; }
  .menu-item:hover {
    cursor: pointer;
    text-decoration: none; }

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: .3s ease-in-out max-height, .35s ease-in-out border-width;
  border-bottom: 2px solid black;
  border-width: 0; }
  ul.menu-open {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out max-height; }
    ul.menu-open.work-menu {
      max-height: 416px; }
    ul.menu-open.contact-menu {
      max-height: 104px; }

.work-menu {
  background: paleturquoise; }

.contact-menu {
  background: cornflowerblue; }

li {
  padding: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  li:first-of-type {
    border: none; }
  li span {
    display: block;
    font-size: 12px;
    margin-top: 8px; }

@media (pointer: fine) {
  #contact:hover:before {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: -7px;
    right: -7px;
    z-index: -100;
    background-image: linear-gradient(45deg, cornflowerblue 17.5%, rgba(100, 149, 237, 0) 17.5%, rgba(100, 149, 237, 0) 32.5%, cornflowerblue 32.5%, cornflowerblue 67.5%, rgba(100, 149, 237, 0) 67.5%, rgba(100, 149, 237, 0) 82.5%, cornflowerblue 82.5%);
    background-size: 8px 8px;
    animation: dash-animation 30s infinite linear; }
  #previous-work:hover:before {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: -7px;
    right: -7px;
    z-index: -100;
    background-image: linear-gradient(45deg, paleturquoise 17.5%, rgba(175, 238, 238, 0) 17.5%, rgba(175, 238, 238, 0) 32.5%, paleturquoise 32.5%, paleturquoise 67.5%, rgba(175, 238, 238, 0) 67.5%, rgba(175, 238, 238, 0) 82.5%, paleturquoise 82.5%);
    background-size: 8px 8px;
    animation: dash-animation 30s infinite linear;
    border-bottom: 2px solid black; } }

@media (min-width: 769px) {
  .name {
    flex-direction: column; }
  h1 {
    flex-grow: 0;
    height: 25%;
    font-size: 2em; }
  .background-and-foreground {
    border: none; }
  .container {
    width: 100%;
    flex-direction: row; }
  .menu {
    border-left: 2px solid black;
    width: 60%; }
  .name {
    width: 40%; }
  .menu-item {
    text-align: right;
    padding: 16px;
    flex-grow: 1; }
  .menu, li {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  ul {
    flex-direction: column;
    width: 100%;
    border-left: none; }
  li {
    justify-content: center; } }
