/*
Take up the whole dang window
*/

@mixin full-screen {
	height: 100vh;
	width: 100vw;
	@include max-screen(481px) {
		background-attachment: scroll;
	}
	@include min-screen(481px) {
		background-attachment: fixed;
	}
}


/*	
	MISCELLANEOUS
*/

/* ==========================================================================
   	Hover Styles
   ========================================================================== */

/* Underline Reveal */
.hvr-underline-reveal {
	//padding-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  height: 2px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}




