
/* ==========================================================================
   	ESP Productions by Daniel Salas, 2015
   ========================================================================== */

// From paranoida.github.com/sass-mediaqueries/
@import "media-queries";

// FONTS

$esp-font: 'Megrim';
$main-font: 'Khula';
$top-font: 'Quicksand';

// COLORS

$white: #FFF;
$black: #000;

// ASSIGNMENTS

@mixin full-screen {
	height: 100vh;
	width: 100vw;
	@include max-screen(768px) {
		min-height: 385px;
	}
	@include min-screen(768px) {
		min-height: 600px;
	}
}


* {
	font-family: $main-font;

}

//// ESP top left
a.navbar-brand {
	font-size: 4rem;
	z-index: 100;
	line-height: 100%;
	padding-top: 3px;
}
a.navbar-brand, #party b {
	font-family: $esp-font;
}

//// Top right menu
.navbar {
   	width: 100 vw;
	margin-top: 25px;
	margin-bottom: 0;
	border-radius: 0;
	z-index: 100;
	transition: all 0.4s ease;
}
#navbar-menu {
	float:right; 
	padding-bottom: 10px;
}
ul.nav {
	list-style-type: none;
}
.navbar-nav li {
	font-family: $top-font;
	text-transform: uppercase;
	font-size: 1.6rem;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 14px;
	padding-bottom: 4px;
}
.navbar-toggle {
	font-size: 4.5rem;
	padding: 2px 15px;
	height:50px;
	margin: 0 0;
	line-height: 100%;
}
//// BEFORE AFFIXING
.in, .collapsing {
	text-align: right;
	border: none;
}
.affix-top {
	&, a { color: $white}

	.in, .collapsing {
		@include max-screen(768px) {
		background: $white;
		width: 100vw;
		color: $black;
		}
	}
	.in {
		@include min-screen(768px) {
		background: none;
		color: $white;
		}
	}
}
//// AFTER AFFIXING
.affix {
	/*add ios safari support*/
	background: $white;
	margin-top: 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	a {
		color: $black;
	}
	.hvr-underline-from-center:before {
		background: $black;
	}
}

// Top section
#top {
	@include full-screen;
	background-image: url('../img/dj.jpg');
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	// background:-webkit-gradient(linear, 45% 100%, 19% 21%, from(#864F74), to(#FF4E28))
}
.overlay {
	@include full-screen;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	//background-image: url('../img/pattern.png');    //rgba(255,78,40, .6)   rgba(50,76,82, .8)
	//background-color: rgba(89,126,162,0.5);
	//background: -webkit-linear-gradient(-45deg, rgba(255,78,40, .6) 0%, rgba(134,79,116, .6) 60%);
	background: -webkit-linear-gradient(-45deg, rgba(50,76,82, 1) 0%, rgba(101,160,115, 1) 60%);
}
#party {
	p, h1, h2, a {
		font-family: $top-font;
	}
	p, h1, h2, a, b {
		color: $white;
	}
	h1, b {
		font-size: 7vmax;
	}
	h1 {
		padding-top: 5vmin;
	}
	h2 {
		font-size: 3vmax;
		padding-top: 5vmin;
		padding-left: 10vw;
		padding-right: 10vw;
		&#services {
			padding-top: 20vh;
		}
	}
	h3 {
		font-size: 2rem;
		padding-top: 2vw;
		padding-bottom: 2vh;

		margin-right: 30vw;
		margin-left: 30vw;
		line-height: 100%;
	}
	a.btn {
		font-family: $top-font;
		color: $white;
		background: none;
		font-size: 2rem;
		margin-top: 7vmin;
		transition: all 0.2s ease;
		&:hover {
			color: $black;
			background: $white;
		}
	}
}

#party b, #party h1 {
	font-size: 7vmax;
}

#content {

}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $white;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  height: 1px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}

/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #FFFFFF solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}



/*@media screen and (max-device-width: 640px) {
	h2#services {
		font-size: 2rem;
		padding-top: 22vh;
	}
}
*/











