// styles

@font-face {
  font-family: 'Terminus';
  src: url('/fonts/Terminus.ttf') format('truetype');
}

$title-font:  arial;//'Zilla Slab', serif;
$font-family: $title-font;//"Lucida Console", Monaco, monospace;

$pink: #f58894;
$blue: blue;//#042949;
$yellow: #ffe600;

$main-background: $pink;
$body-background: $yellow;//linear-gradient(130deg, $blue, $pink);
$reverse-body-background: linear-gradient(130deg, $pink, $blue);
$text-color: $blue;
$spacer: 16px;
$double-spacer: $spacer * 2;
$half-spacer: $spacer / 2;
$thin-border: 1px solid $blue;

// animation
$distance:-4px;
$cut-distance:4px;//$distance/4;
$strips-size:8px; //10px
$strips-ratio:70%;//70%
$strips-angle:45deg;//90deg;

@keyframes dash-animation{
	0% {background-position:0 0};
	100% {background-position:100% 0};
}
@keyframes dot-animation{
	0% {background-position:-4px -2px};
	100% {background-position:100% -100%};
}

::selection {
  background-color: $pink; /* WebKit/Blink Browsers */
  color: $blue;
}
body {
	background: $body-background;
	margin: 0;
	color: $text-color;
	font-family: $font-family;
}
#main {
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
	padding: $double-spacer;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.container {
	border: $thin-border;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
    $dot-size: 2px;
	$dot-space: 16px;
	$bg-color: $yellow;
	$dot-color: $pink;

	background: 
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
	background-position: -4px -4px;

	// &:hover {
		animation:dot-animation 20s infinite linear; 
	// }

    p {
    	position: relative;
    	z-index: 1;
    	margin: 16px auto 0;
    }
}
h1 {
	display: inline;
	font-weight: 500;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
#circle {
	width: 150px;
	height: 150px;
	background: $pink;
	border-radius: 50%;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	transition: .2s all ease-in-out;
}
ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
}
li {
	padding: $double-spacer;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-top: $thin-border;
	&:hover {
		position: relative;
		left: -5px;
		top: -5px;
		border: $thin-border;
		color: $blue;
		background: $yellow;
		cursor: pointer;
		// box-shadow: 5px 5px 0 $blue;

		&:before{
			content:" ";
			display:block;

			position:absolute;
			$bleeding-horizontal:3px;
			$bleeding-vertical:0px;
			top:-$bleeding-vertical - $distance;
			left:-$bleeding-vertical - $distance;
			bottom:-$bleeding-horizontal + $distance;
			right:-$bleeding-horizontal + $distance;
			z-index:-1;
			$color:$blue;
			$size:$strips-ratio/2;
			$halfSize:$size/2;
			$p1:$halfSize;
			$p2:50%-$halfSize;
			$p3:50%+$halfSize;
			$p4:100%-$halfSize;
			$transparent:transparentize($color,1);
			background-image: linear-gradient($strips-angle,$color $p1, $transparent $p1, $transparent $p2,$color $p2, $color $p3, $transparent $p3, $transparent $p4, $color $p4);
			background-size:$strips-size $strips-size;

			animation:dash-animation 30s infinite linear; 
		}
	}
	&:last-of-type {
		background: $blue;
		color: $yellow;
	}
}

@media (min-width: 769px) {
	.container {
		width: 100%;
		flex-direction: row;
	}
	.menu, .name {
		width: 50%;
	}
	.menu, ul, li {
		display: flex;
	}
	ul {
		flex-direction: column;
		width: 100%;
		border-left: $thin-border;
	}
	li {
		flex: 1;
		flex-direction: column;
		justify-content: center;
		&:first-of-type{
			border: none;
			&:hover {
				border: $thin-border;
			}
		}
	}
	#circle:hover {
		width: 200px;
		height: 200px;
		border: $thin-border;
		box-shadow: 16px 0px 0 $blue;
		&:after {
			content: "you are not lost";
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);

		}
	}
}