$title-font:  arial;//'Zilla Slab', serif;
$font-family: $title-font;//"Lucida Console", Monaco, monospace;

$pink: pink;//#f58894;
$blue: blue;//#042949;
$yellow: #ffe600;
$white: white;

$box-color: pink;
$name-box-color: gold;
$border-color: black;
$menu-background: $border-color;
$submenu-background: palegreen;
$main-background: paleturquoise;
$text-color: $border-color;

$spacer: 16px;
$double-spacer: $spacer * 2;
$half-spacer: $spacer / 2;
$thin-border: 2px solid $border-color;

// animation
$distance:-4px;
$cut-distance:4px;//$distance/4;
$strips-size:8px; //10px
$strips-ratio:70%;//70%
$strips-angle:45deg;//90deg;

@keyframes dash-animation{
	0% {background-position:0 0};
	100% {background-position:100% 0};
}
@keyframes dot-animation{
	0% {background-position:-4px -2px};
	100% {background-position:100% -100%};
}
@mixin dash-hover {
	content:" ";
	display:block;

	position:absolute;
	$bleeding-horizontal:3px;
	$bleeding-vertical:0px;
	top:-$bleeding-vertical - $distance;
	left:-$bleeding-vertical - $distance;
	bottom:-$bleeding-horizontal + $distance;
	right:-$bleeding-horizontal + $distance;
	z-index:-100;
	$color:$box-color;
	$size:$strips-ratio/2;
	$halfSize:$size/2;
	$p1:$halfSize;
	$p2:50%-$halfSize;
	$p3:50%+$halfSize;
	$p4:100%-$halfSize;
	$transparent:transparentize($color,1);
	background-image: linear-gradient($strips-angle,$color $p1, $transparent $p1, $transparent $p2,$color $p2, $color $p3, $transparent $p3, $transparent $p4, $color $p4);
	background-size:$strips-size $strips-size;

	animation:dash-animation 30s infinite linear; 
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

::selection {
  background-color: $text-color; /* WebKit/Blink Browsers */
  color: $main-background;
}
a {
	color: $text-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

body {
	background: $main-background;
	margin: 0;
	color: $text-color;
	font-family: $font-family;	
}
#main {
	min-height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	// text-align: center;
	padding: $double-spacer;
	display: flex;
	flex-direction: row;
	justify-content: center;

	// background-image: url('https://media.giphy.com/media/1lDH8wAvFZY2WyoiUL/giphy.gif');
}
.container {
	border: $thin-border;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.name {
	position: relative;
	flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}
.background-and-foreground {
	background-image: url('https://media.giphy.com/media/1lDH8wAvFZY2WyoiUL/giphy.gif');
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: $spacer;
	border-bottom: $thin-border;
}
.foreground {
  width: 60%;
  margin: 0 auto;
  border: 5px solid black;
}

h1 {
	flex-grow: 1;
	display: block;
	margin: 0 auto;
	z-index: 1;
	// text-align: center;
	width: 100%;
	height: 25%;
	background-color: $name-box-color;
	border-bottom: $thin-border;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// height: 100%;
	span {
		display: block;
		padding: $spacer;
	}
	div {
		display: flex;
		justify-content: space-between;
	}
}

.menu {
	background: $menu-background;
}
.menu-item {
	background: $box-color;
	margin: 0;
	padding: $double-spacer;
	text-align: center;
	h2 {
		margin: 0;
	}
	&:not(:last-of-type) {
		border-bottom: $thin-border;
	}
	&:not(.menu-open):hover {
		position: relative;
		z-index: 10;
		left: -5px;
		top: -5px;
		border: $thin-border;

		&:before{
			@include dash-hover;
		}
	}
	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
	a {
		display: block;
		height: 100%;
		width: 100%;
		&:hover {
			text-decoration: none;
		}
	}
}
ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	// opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: .3s ease-in-out max-height;

	&.menu-open {
		// opacity: 1;
		// height: auto;
		border-bottom: $thin-border;
		display: flex;
		flex-direction: column;

		&.work-menu {
			max-height: 104px *4;
		}
		&.contact-menu {
			max-height: 104px;
		}
	}
}
li {
	padding: $double-spacer;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	
	background: $submenu-background;

	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:first-of-type{
		border: none;
	}
	span {
		display: block;
		font-size: 12px;
		margin-top: $half-spacer;
	}
}
.contact-menu a {
	// animation: marquee 4s linear infinite;
}

@media (min-width: 769px) {
	h1 {
		flex-grow: 0;
	}
	.container {
		width: 100%;
		flex-direction: row;
	}
	.menu {
		border-left: $thin-border;
		width: 60%;
	}
	.name {
		width: 40%;
	}
	.menu-item {
		text-align: right;
		padding: $spacer;
		flex-grow: 1;
		&:first-of-type {
			// border-top: $thin-border;
		}
	}
	.menu, li {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	ul {
		// display: none;
		flex-direction: column;
		width: 100%;
		border-left: none;
	}
	li {
		justify-content: center;
	}
}