/* ==========================================================================
   	Modern Social Secretary by Daniel Salas, 2015

	Import all the partials and breakpoint files here.
   ========================================================================== */

@import "partials/media-queries"; // From paranoida.github.com/sass-mediaqueries/
@import "partials/typography";
@import "partials/variables";
@import "partials/mixins";
@import "partials/material-colors";

/*
	!!!BREAKPOINTS!!
*/
$small:			481px;
$medium:		768px;
$large:			1030px;
$x-large:		1200px;

/*********************
EXTRA SMALL
For phones
*********************/
@import "breakpoints/xs";

/*********************
SMALL
For slightly less small devices
*********************/
@media only screen and (min-width: $small) {
	@import "breakpoints/s";
} // end of media query

/*********************
MEDIUM
For tablets and smaller laptops
*********************/
@media only screen and (min-width: $medium) {
	@import "breakpoints/m";
} // end of media query

/*********************
LARGE
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. 
Adds resource intensive styles.
*********************/
@media only screen and (min-width: $large) {
	@import "breakpoints/l";
} // end of media query

/*********************
EXTRA LARGE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: $x-large) {
	@import "breakpoints/xl";
} // end of media query