/*///////
NAV STYES
///////*/

.mss-nav {
	// margin-top: 10px;

	ul {
		display: inline; 
		li {
			display: inline;
		}
	}
}

#mss-header {
	// margin-left: 3%;
	// margin-right: 3%;
	// text-align: left;
}

.nav-fixed {
	position: fixed;
	z-index: 1000;
	// background-color: white;
	// font-size: 80%;
	@extend .blue;
}

/*///////
TOP STYES
///////*/

#mss-hero {
	// @extend .indigo;
	background-size: 750px;
	height: 95vh;
}

#mss-tagline {
	margin-top: 74vh;
	margin-bottom: 5%;
	font-size: 150%;
	// padding-bottom: 5vh;
}


/*///////////
GETTING THERE
///////////*/

#getting-there {
}

#get-there-h {
	margin: 10% auto;
}

p#get-there-p {
	margin: 0 20% 10%;
	// text-align: center;
}



