/* ==========================================================================
   	Modern Social Secretary by Daniel Salas, 2015

	EXTRA SMALL DEVICES (portrait)
   ========================================================================== */
body {
	// @extend .yellow, .accent-5;
}

p, h2, h3 {
	font-family: $main-font;
}

/*///////
NAV STYES
///////*/

.mss-nav {
	display: inline;
	// height: 15vh;
	@extend .white;
	.name h1 a {
		// position: absolute;
		top: 10px;
		font-family: $top-font;
		font-weight: bold;
		@extend .grey-text, .text-darken-4;
	}
}
#mss-header {

}
#menu-arrow {
	padding-top: 3px;
	@extend .grey-text, .text-darken-4;
}



/*///////
TOP STYES
///////*/

#mss-hero {
	background-image: url("../img/mss-top2.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 300px;

	@extend .yellow, .accent-5;
}
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}
.mss-hero-column{
	padding: 0 !important;
}

#header-container {
	width: 100vw;
	margin: 0;
	@extend .white;
}

#mss-tagline {
	text-align: center;
	font-family: $main-font;
	font-size: 120%;
	// padding: 60% 0 10% 0;
	// margin: 90% 0 10% 0;
	margin: 75% 4% 10% 4%;
	// position: absolute;
	// bottom: 0;
	vertical-align: bottom;

	@extend .grey-text, .text-darken-4;
}


/*///////////
GETTING THERE
///////////*/

#getting-there {
	// @extend .indigo;
	background-image: url("../img/paper_fibers.png");
}

#get-there-h {
	margin: 15% auto;
	text-align: center;

	@extend .grey-text, .text-darken-4;
}

p#get-there-p {
	margin: 0% 5% 15%;

	@extend .grey-text, .text-darken-4;
}


/*///////////
Choose your paper
///////////*/

#choose-paper {
	// height: 40vh;

	@extend .teal;
	@extend .lighten-5;
}

#choose-paper-h {
	margin: 50% auto;
	text-align: center;

	@extend .black-text;
}

p#choose-paper-p {
	// margin: 50% auto;

	@extend .white-text, .text-accent-5;
}














