/*
Large screens. Like laptops and desktops.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {

}

html, body {
    
}

p {

}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand {

}
a.navbar-brand, #mss-hero b {

}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.navbar {

}
#navbar-menu {

}
ul.nav {

	&:last-child {

	}
}
.navbar-nav li {
	
}
.navbar-toggle {

}
//// BEFORE AFFIXING
.affix-top {
	&, a {

	}

	.in, .collapsing {

	}
	.in {

	}
}
//// WHILE COLLAPSING
.collapsing {

}
.in, .collapsing {

}
//// AFTER AFFIXING
.affix {

	a {
		
	}
	.hvr-underline-reveal:before {
		
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	
}
#mss-hero {
	h1 {
		font-size: 6rem;
		padding-top: 10vh;
	}

	h2 {
		// padding-top: 3vh;
		font-size: 3rem;
	}
	p, h1, h2, a, b {
	}
	a.btn {
		i {
		}
		&:hover {

		}
	}
}

#mss-hero b, #mss-hero h1 {
	
}

/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

#about {
	#abt-row {
		padding: 3% 8% 1% 8%;
	}
	img {
		// padding-top: 0;
	}
	h2 {
		font-size: 45px;		
		// margin: 0px auto 1% auto;
	}

	p {
		// margin: 0 5% 5% 5%;
	}

	a.btn {
		font-size: 130%;
	}
}

/* ==========================================================================
   	STYLE Styles
   ========================================================================== */

#choose-font {
	#service-row, #wwd-h1 {
	}

	h1 {

	}

	#service-row {
	}
}

/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {

}