/*
Large screens. Like laptops and desktops.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {

}

html, body {
    
}

p {

}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand {

}
a.navbar-brand, #mss-hero b {

}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.navbar {

}
#navbar-menu {

}
ul.nav {

	&:last-child {

	}
}
.navbar-nav li {
	font-size: 1.47rem;
	padding: 15px 2vw 4px 2vw;
}
.navbar-toggle {

}
//// BEFORE AFFIXING
.affix-top {
	&, a {

	}

	.in, .collapsing {

	}
	.in {

	}
}
//// WHILE COLLAPSING
.collapsing {

}
.in, .collapsing {

}
//// AFTER AFFIXING
.affix {

	a {
		
	}
	.hvr-underline-reveal:before {
		
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	
}
#mss-hero {
	h1 {
		font-size: 6rem;
		// padding-top: 10vh;
	}
	h2#tagline {
		padding-left: 0;
		text-align: left;
	}
	#typed {
		font-size: 1.9rem;
	}
	a.btn {
		i {
		}
		&:hover {

		}
	}
}


/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

#about {
	#letter-div {
		img {
			padding-top: 0;
		}
	}
	#text-box {
		h2 {
			font-size: 4.7rem;
		}
	}
	#abt-row {
		// padding: 2% 18vw 2% 18vw;
		h2 {
			font-size: 5rem;
		}
	}

	p {

	}

	a.btn {
		// padding-top: 1%;
		// font-size: 130%;
	}
}

/* ==========================================================================
   	HOWITWORKS Styles
   ========================================================================== */

#how-it-works {
	h2 {
		font-size: 4.7rem;
	}
	#how-top {
		p {
			// max-width: 70vw;
		}
	}
}

/* ==========================================================================
   	SIGNUP Styles
   ========================================================================== */

#sign-up {

}

/* ==========================================================================
   	CUSTOMIZE Styles
   ========================================================================== */

#customize {
	#custom-orders {
		// margin-top: 2vw;
		p {
			max-width: 67.4vw;
			font-size: 1.6rem;
		}
	}
	#sample-text {
	}
	#customizers {
		// margin-top: 3vw;
		#pickers {

		}
	}
}

/* ==========================================================================
   	CHECKOUT Styles
   ========================================================================== */

#checkout {
	p {
		&.smallest {
			margin-top: 5vw;
			font-size: 1.5rem;
			// text-align: left;
			max-width: 30vw;
		}
	}
}

/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {

}