/*
Medium screens. Like tablets.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {

}

html, body {
    
}

p {

}

br {

}

.purple-btn {
	color: $golden-yellow;
	background: $indigo-violet;//#512F54;//#3949ab;//$light-yellow;
	border: 2px solid $indigo-violet;
}
a.btn {
	transition: all 0.2s ease;
	position: relative;
	z-index: 1000;
	i {
	}
	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand {

}
a.navbar-brand, #mss-hero b {

}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.navbar {
	margin-top: 25px;
	transition: all 0.3s ease;
}
#navbar-menu {

}
ul.nav {

	&:last-child {
		margin-bottom: 0px;
	}
}
.navbar-nav li a{
	
}
.navbar-toggle {

}
//// BEFORE AFFIXING
.affix-top {
	// margin-top: 25px;
	background: transparent;
	border-bottom: none;
	&, a { color: $black}

	.in, .collapsing {
		background: $white;
		// width: 100vw;
		color: $black;
	}
	.in {
		background: none;
		color: $black;
	}
	.hvr-underline-reveal:before {
		background: $black;
	}
}
//// WHILE COLLAPSING
.collapsing {

}
.in, .collapsing {

}
//// AFTER AFFIXING
.affix {
	margin-top: -25px;
	padding-top: 25px;
	// height: 100px;
	a {
		
	}
	.hvr-underline-reveal:before {
		
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	background-attachment: fixed;
	img {
		width: 600px;
	}

	a.btn {
		&:hover {
			// color: $white;
			color: $golden-yellow;
			background: #3A3961;//#512F54;//#3949ab;//$light-yellow;
		}
	}
}

#mss-hero {
	h1 {
		font-size: 6vmax;
		padding-top: 9vh;
		padding-bottom: 0vh;
	}
	h2 {
		padding-top: 0vh;
		font-size: 3vmax;
	}
	p, h1, h2, a, b {
	}
}

#mss-hero b, #mss-hero h1 {
	
}

/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

// #about {
// 	// background-image: url('../img/Nico-BM-38.jpg');
// 	background-repeat: no-repeat;
// 	background-position: center top;
// 	background-size: cover;

#about {
	#abt-row {
		padding: 3% 5% 1% 5%;
	}
	img {
		// padding-top: 20%;
	}
	h2 {
		margin: 3% auto 3.5% auto;
		font-size: 40px;
		font-family: $muli;
		font-weight: 200;		
	}
	a.btn {
		margin: 0% auto 3.5% auto;
		&:hover {
			// color: $black;
			// background: $golden-yellow;
			@extend .purple-btn;
		}
	}
	p {
		// font-size: 1.7rem;
		padding: 2% 8% 2% 8%;
	}
}

/* ==========================================================================
   	DOWNLOAD Styles
   ========================================================================== */

#download-sec {
	background-color: $golden-yellow;
	@include jagged($golden-yellow, 30, bottom);

	h2 {

	}
	p {
		text-align: center;
		padding: 6% 4% 2% 4%;
	}
	a.btn {
		&:hover {
			// color: $black;
			// background: $light-yellow;
			@extend .purple-btn;
		}
	}
}

/* ==========================================================================
   	CHOOSE STYLE Styles
   ========================================================================== */

#choose-font {
	#service-row, #wwd-h1 {
	}

	h2 {
		font-size: 5vmin;
	}

	#font-row {
		padding: 3% 8% 0 8%;
	}
	a.btn {
		// margin: 0% auto 3.5% auto;

		&:hover {
			// color: $black;
			// background: $golden-yellow;
			@extend .purple-btn;
		}
	}

	#sample-text {
		.panel {
			#fonts, #washes {
				text-align: left;
			}
			#washes {
				padding-top: 0;
			}
		}
	}
}

/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {

}