/*
Medium screens. Like tablets.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {

}

html, body {
    
}

p {
	max-width: 60vw;
}

br {

}

.hvr-btn {
	color: $white;
	background: $mss-blue;
	border: 2px solid $mss-blue;
}
a.btn {
	transition: all 0.2s ease;
	position: relative;
	z-index: 1000;
	i {
	}
	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand {
	// padding-top: 12px;
	img#mss-logo-navbar {
		// position: relative;
		top: 33px;
	}

}
a.navbar-brand, #mss-hero b {

}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.navbar {
	margin-top: 25px;
	// height: 77px;
	padding: 0 3vw 0 3vw;
	transition: all 0.3s ease;
}
#navbar-menu {

}
ul.nav {

	&:last-child {
		margin-bottom: 0px;
	}
}
.navbar-nav li {
	font-size: 1.5rem;
	padding: 15px 1vw 4px 1vw;
}
.navbar-toggle {

}
//// BEFORE AFFIXING
.affix-top {
	// margin-top: 25px;
	background: transparent;
	border-bottom: none;
	&, a { color: $black}

	.in, .collapsing {
		background: $white;
		// width: 100vw;
		color: $black;
	}
	.in {
		background: none;
		color: $black;
	}
	.hvr-underline-reveal:before {
		background: $black;
	}
}
//// WHILE COLLAPSING
.collapsing {

}
.in, .collapsing {

}
//// AFTER AFFIXING
.affix {
	margin-top: -25px;
	padding-top: 25px;
	// height: 100px;
	a {
		
	}
	.hvr-underline-reveal:before {
		
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	background-attachment: fixed;
	img {
		// width: 600px;
	}

	a.btn {
		&:hover {
			@extend .hvr-btn;
			i {
				// position: relative;
				// top: 1px;
			}
		}
	}
}

#mss-hero {
	h1 {
		font-size: 6vmax;
		padding-top: 70px;
		padding-bottom: 30px;
	}
	h2 {
		padding-top: 20px;
		padding-bottom: 10px;
		font-size: 3.5rem;
		max-width: 73vw;
		margin-left: auto;
		margin-right: auto;
	}
	#typed {
		font-size: 1.7rem;
	}
	p, h1, h2, a, b {
	}
	#mss-logo-top {
		height: 35vh;
	}

}

#mss-hero b, #mss-hero h1 {
	
}

/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

// #about {
// 	// background-image: url('../img/Nico-BM-38.jpg');
// 	background-repeat: no-repeat;
// 	background-position: center top;
// 	background-size: cover;

#about {
	#letter-div {
		height: 100%;
		// width: 100%;
		vertical-align: middle;
		img {
			padding-top: 20%;
			width: 100%;
		}
	}
	#text-box {
		h2 {
			font-size: 4.5vw;
		}
	}
	#abt-row {
		// padding: 3% 10% 3% 10%;
		h2 {
			// color: $black;
			// font-size: 4rem;
			// margin: 3% auto;
		}
	}
	p {
		font-size: 1.7rem;
	}
	a.btn {
		// margin: 4% auto 3.5% auto;
		&:hover {
			@extend .hvr-btn;
		}
	}
}


/* ==========================================================================
   	HOWITWORKS Styles
   ========================================================================== */

#how-it-works {
	// padding: 3% 3% 3% 3%;
	#how-top {
		p {
			font-size: 1.7rem;
		}
	}
	#how-icon-row {
		margin: 3vw auto 0 auto;
	}
	a.btn {
		// margin: 3% auto 3% auto;
		&:hover {
			@extend .hvr-btn;
		}
	}
}

/* ==========================================================================
   	SIGNUP Styles
   ========================================================================== */

#sign-up {
	h2 {
	}
	p {

	}
	a.btn {
		&:hover {
			@extend .hvr-btn;
		}
	}
}

/* ==========================================================================
   	DOWNLOAD Styles
   ========================================================================== */

#download {
	h2 {

	}
	p {
		// text-align: center;
		// padding: 1% 4% 1% 4%;
		// padding: 1% 0% 0% 0%;

	}
	a.btn {
		&:hover {
			@extend .hvr-btn;
		}
	}
}

/* ==========================================================================
   	CUSTOMIZE Styles
   ========================================================================== */

#customize {
	#sample-text {
		.panel {
			max-width: 70vw;
			margin: 3vw auto 2vw auto;
		}
		.col-sm-6 {
			text-align: left;
		}
		#letter-text {
			margin-left: auto;
			margin-right: auto;
			max-width: 60vw;
		}
	}
	#customizers {
		// max-width: 70vw;
		#pickers {
			max-width: 70vw;
			margin-left: auto;
			margin-right: auto;
			p#paper-desc {
				// max-width: 70vw;
			}
		}
		.col-sm-6 {
			text-align: left;
		}
	}
	#custom-orders {
		// margin-top: 2vw;
		p {
			max-width: 66.88vw;
			// font-size: 1.6rem;
		}
	}

	p {

	}

	h2 {
	}
	a.btn {
		// margin: 0% auto 3.5% auto;

		&:hover {
			// color: $black;
			// background: $golden-yellow;
			@extend .hvr-btn;
		}
	}

}

/* ==========================================================================
   	CHECKOUT Styles
   ========================================================================== */

#checkout {
	#pricing {
		.col-sm-6 {
			// text-align: center;
			&:first-of-type {
				// padding-right: 0;
			}
			&:last-of-type {
				// padding-left: 0;
			}
		}
		table {
			&:first-of-type {
				// margin-right: 0;
			}
			&:last-of-type {
				// margin-left: 0;
			}
		}
	}
	p {
		&.smaller {
			max-width: 45vw;
		}
	}
}



/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {
	img {
		padding-top: 20px;
	}
}