/*
Small screens. Like the Galaxy note.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {

}

html, body {
    
}

p {

}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand {

}
a.navbar-brand, #mss-hero b {

}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.navbar {

}
#navbar-menu {

}
ul.nav {

	&:last-child {

	}
}
.navbar-nav li {
	
}
.navbar-toggle {

}
//// BEFORE AFFIXING
.affix-top {
	&, a {

	}

	.in, .collapsing {

	}
	.in {

	}
}
//// WHILE COLLAPSING
.collapsing {

}
.in, .collapsing {

}
//// AFTER AFFIXING
.affix {

	a {
		
	}
	.hvr-underline-reveal:before {
		
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	// min-height: 100vh;
	img {
		// width: 500px;
		margin: auto;
	}
}
#mss-hero {
	h1, b {

	}

	h1 {
		padding-top: 65px;
		padding-bottom: 15px;
	}
	h2 {
		font-weight: 300;
	}
	p, h1, h2, a, b {
	}
	a.btn {
		
		i {
		}
		&:hover {

		}
	}
	#mss-logo {
		img {
			// margin-bottom: 200px;
		}
	}
}

#mss-hero b, #mss-hero h1 {
	
}

/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

#about {
	#text-box {
		h2 {
			text-align: center;
			color: $golden-yellow;
			font-size: 4vw;
			font-weight: 300;
		}
	}
	#abt-row {

		h2 {
			color: $black;
			font-size: 4rem;
		}
	}
	p {
		font-size: 1.6rem;
		// padding: 0% 10% 0% 10%;
	}
	a.btn {
		// margin: 4% auto 6% auto;
	}
	img {
		// margin: 0 5% 0 0;
	}
}

/* ==========================================================================
   	HOWITWORKS Styles
   ========================================================================== */

#how-it-works {
	h2 {
		// color: $black;
		font-size: 4rem;
		// margin: 3% auto;
	}
	#how-top {
		p {
			font-size: 1.6rem;
		}
	}
	a.btn {
		// margin: 4% auto 3% auto;
	}
}

/* ==========================================================================
   	SIGNUP Styles
   ========================================================================== */

#sign-up {

	h2 {
		// font-size: 4rem;
	}
	a.btn {

	}
	p {

	}
}

/* ==========================================================================
   	DOWNLOAD Styles
   ========================================================================== */

#download-section {
	h2 {

	}
	p {

	}
	a.btn {

	}
}

/* ==========================================================================
   	CUSTOMIZE Styles
   ========================================================================== */

#customize {
	#customizers {
		
	}
}

/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {

}