/*
X-tra small screens. Like iPhones.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {
	font-family: $main-font;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    // 
}
html {
	font-size: 62.5%;
}
body {
	// background-image: url('../img/paper_fibers.png');
	// background-repeat: repeat;
	// background-position: center top;
	// background-size: 100%;
	font-size: 1.4rem;
	background: $lighter-yellow;
}

p {
	line-height: 150%;
	max-width: 75vw;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	font-size: 2.4rem;
}
h2 {
	font-family: $top-font;
}

.zigzag {
  position: relative;
  width: 100%;
  height: 200px;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.divider {
	height: 60px;
	width: 133px;
    background-size: 100% 100%;
    margin: 0px auto 3vw auto;
    background: url(../img/divider.png) no-repeat scroll center transparent;
    background-size: 100% 100%;
    img {
    	height: auto;
    	width: 100px;
    }
}

.transparent-button {
	font-family: $btn-font;
	// font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.5em;
	border: 2px solid black;
	padding: 20px 15px 20px 15px;
	margin: 3vw auto 0 auto;
	background: transparent;
	text-transform: uppercase;
	color: $black;

}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand {
	font-size: 4rem;
	z-index: 100;
	// line-height: 100%;
	padding-top: 16px;
	img {
		// height: 40px;
		// display: inline;
	}
}
a.navbar-brand, #mss-hero b {
	font-family: $top-font;
}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.nav {
	margin-top: 0;
}

.navbar {
	margin-top: 0px;
	margin-bottom: 0;
	border-radius: 0;
	z-index: 100000;
}
button.navbar-toggle {
	// border: 2px solid $black;
	// padding: 0;
	// margin: 10px
}
#menu-icon {
	// border: 2px solid $black;
	transition: all .2s linear;
	&.down {
		transform:rotate(180deg);
	}
}
#navbar-menu {
	float:right; 
}
ul.nav {
	list-style-type: none;
	&:last-child {
		margin-bottom: 16px;
	}
}
.nav>li>a {
    display: inline;
    padding: 0;
    &:hover {
		background: transparent;
    }
}
.navbar-nav li{
	cursor: pointer;
	font-family: $nav-font;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.6rem;
	padding: 15px 2vw 4px 2vw;
	letter-spacing: 1px;
}
.navbar-toggle {
	font-size: 4.5rem;
	padding: 2px 15px;
	height:50px;
	margin: 0 0;
	line-height: 100%;
}
/* BEFORE AFFIXING */
.affix-top {
	// @extend .z-depth-1;
	// @extend .blue, .darken-4;
	background: $white;
	margin-top: 0;
	border-bottom: 2px solid $black;
	a {
		color: $black;
	}
	.hvr-underline-reveal:before {
		background: $black;
	}
}
/* WHILE COLLAPSING */
.collapsing {
}
.in, .collapsing {
	text-align: right;
	border: none;
}
/* AFTER AFFIXING */
.affix {
	// It's weird on iOS Safari
	@extend .z-depth-1;
	// @extend .indigo-text, .text-darken-1;
	background: $white;
	margin-top: 0;
	border-bottom: 2px solid $black;
	a {
		color: $black;
		&.navbar-brand {
			color: $indigo-violet;
		}
	}
	// .navbar-nav li {
	// 	color: $black;
	// }
	.hvr-underline-reveal:before {
		background: $black;
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	// @include full-screen;

	// background-image: url('../img/desk.jpeg');
	// background-repeat: repeat;
	// background-position: center top;
	// background-size: 100%;
	// @extend .red, .accent-1;
	// background: $lighter-yellow;
	#letter-div>img {
		position: relative;
		z-index: 0;
		// width: 90vw;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
}
#mss-hero {
	// @include full-screen;
	text-align: center;
	h1 {
		font-size: 7vmax;
		font-family: $top-font;
		font-weight: 300;
		letter-spacing: 3px;
		padding-top: 60px;
		padding-bottom: 0;
	}
	h2 {
		font-weight: 400;
		padding: 0vh 8% 0 8%;
	}
	p, h1, h2, a {
		color: $black;
	}
	a.btn {
		@extend .transparent-button;
		height: 85px;
		min-width: 130px;
		max-width: 150px;
		margin: 2vh auto 5vh auto;
		padding: 20px 15px 0px 15px;
		
		i {
			font-size: 3rem;
		}
	}
	#letter-div {
		min-height: 200px;
	}
	#mss-logo-top {
		// height: 10vh;
		text-align: center;
		// margin-top: 80px;
		height: 30vh;
		img {
			width: auto;
			height: 100%;
			margin: 0 auto;
		}
	}
}

/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

#about {
	background: $light-yellow;
	position: relative;
	z-index: 10;
	@include jagged($light-yellow, 30, bottom);
	
	#text-box {
		background: $indigo-violet;
		h2 {
			text-align: center;
			color: $golden-yellow;
			font-size: 2.0rem;
			margin: 3% auto 3% auto;
		}
	}
	#abt-row {
		padding: $section-padding;
		h2 {
			color: $black;
			font-size: 4rem;
			margin: 0 auto 3vw auto;
		}
	}
	p {
		font-size: 1.5rem;
		line-height: 1.7;
		text-align: left;
		font-weight: 500;
	}
	a.btn {
		@extend .transparent-button;
	}

	img {
		width: 70%;
		margin: auto;
	}
}

/* ==========================================================================
   	HOW IT WORKS Styles
   ========================================================================== */

#how-it-works {
	padding: $section-padding;
	text-align: center;
	background-color: $golden-yellow;
	@include jagged($golden-yellow, 30, bottom);
	h2 {
		color: $black;
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
	.col-xs-12 {
		margin: 15px 0 15px 0;
	}

	#how-top {
		p {
			font-size: 1.5rem;
			line-height: 1.7;
			text-align: left;
		}
	}
	a.btn {
		@extend .transparent-button;
	}
}


/* ==========================================================================
   	SIGNUP Styles
   ========================================================================== */

#sign-up {
	padding: $section-padding;
	background-color: $light-yellow;
	@include jagged($light-yellow, 30, bottom);
	h2 {
		color: $black;
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
	p {
		font-size: 1.9rem;
		line-height: 1.7;
	}
	a.btn {
		@extend .transparent-button;
	}
}


/* ==========================================================================
   	DOWNLOAD Styles
   ========================================================================== */

#download-section {
	padding: $section-padding;
	background-color: $light-yellow;
	@include jagged($light-yellow, 30, bottom);

	h2 {
		text-align: center;
		color: $black;
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
	p {
		padding: 0;
		font-size: 1.9rem;
		line-height: 1.7;
		text-align: center;
		font-weight: 500;
	}
	a.btn {
		@extend .transparent-button;
	}
}

/* ==========================================================================
   	CUSTOMIZE Styles
   ========================================================================== */

#customize {
	padding: $section-padding;
	background-color: $golden-yellow;
	@include jagged($golden-yellow, 30, bottom);

	h2 {
		text-align: center;
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
		
	#sample-text {
		margin: 0% auto 0 auto;
		.panel {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			border-radius: 0;
			padding: 2%;
			margin: 3vw auto 0 auto;
			.panel-body {
				padding: 5%;
				// border: 8px solid $golden-yellow;
			}
			p {
				font-size: 2rem;
				line-height: 125%;
			}
			hr {
				border-top: 2px dotted $golden-yellow;
				margin-bottom: 30px;
			}
		}
		#sample-letter {
			p {
				font-family: "Rochester";
			}
		}
		.col-sm-6 {
			text-align: center;
		}

		.btn-group{
			margin-bottom: 15px;
			width: 100%;
			.dropdown-menu {
				width: 100%;
				text-align: left;
			}
			button {
				// margin-bottom: 15px;
				border: 2px solid black;
				width: 100%;
			}
		}
	}

	p {
		font-size: 1.9rem;
		line-height: 1.7;
		// text-align: left;
		font-weight: 500;
	}

	ul {
		// text-align: center;
		padding: 0;
		margin: 0;
		font-size: 1.7rem;
		list-style-type: none;
	}

	a.btn {
		@extend .transparent-button;
	}
}

/* ==========================================================================
   	CHECKOUT Styles
   ========================================================================== */

#checkout {
	@extend #download-section;
	// padding: $section-padding;
	// background-color: $light-yellow;
	// @include jagged($light-yellow, 30, bottom);

	// h2 {
	// 	text-align: center;
	// 	color: $black;
	// 	font-size: 4rem;
	// 	margin: 0 auto 3vw auto;
	// }
	// p {
	// 	padding: 0;
	// 	font-size: 1.9rem;
	// 	line-height: 1.7;
	// 	text-align: center;
	// 	font-weight: 500;
	// }
	// a.btn {
	// 	@extend .transparent-button;
	// }
}


/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {
	i {
		padding: 3%;
	}
	h2 {
		font-family: $top-font;
	}
	padding-top: 2%;
	height: 70vh;
	// @extend .indigo, .darken-3;
	// @extend .blue, .darken-4;
	background: $indigo-violet;
	color: $golden-yellow;
}



	// h1 {
	// 	font-family: $header-font;
	// 	color: $white;
	// 	margin: 3% 0 7vmin 0;
	// 	text-align: center;
	// 	letter-spacing: 1vmin;
	// 	line-height: 100%;
 //  		font-size: 10vmin;
 //  		&:after {
 //  			border-bottom: 4px solid $white;
 //  			content: "";
	// 		display: block;
	// 		position: relative;
	// 		top: 20px;
	// 		width: 40vmin;
	// 		z-index: 0;
	// 		margin-right: auto;
	// 		margin-left: auto;
 //  		}
	// }