/*
X-tra small screens. Like iPhones.
*/

/* ==========================================================================
   	GENERAL Styles
   ========================================================================== */

* {
	font-family: $main-font;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    // 
}
html {
	font-size: 62.5%;
}
body {
	color: $black;
	// background-image: url('../img/paper_fibers.png');
	// background-repeat: repeat;
	// background-position: center top;
	// background-size: 100%;
	font-size: 1.4rem;
	background-color: $white;//$mss-odd;
}
a {
	color: lighten($mss-blue, 20%);
	text-decoration: underline;
	&:hover {
		// text-decoration: underline;
		color: lighten($mss-blue, 35%);
	}
}

p {
	line-height: 150%;
	max-width: 75vw;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	font-size: 2.4rem;
}
h2 {
	font-family: $top-font;
}

.hidden {
	display: none;
}

.zigzag {
  position: relative;
  width: 100%;
  height: 200px;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}
.divider {
	height: 15px;
	width: 150px;
    background-size: 100% 100%;
    margin: 0px auto 3vw auto;
    background: url(../img/line-divider.png) no-repeat scroll center transparent;
    background-size: 100% 100%;
    img {
    	height: auto;
    	width: 100px;
    }
}

.transparent-button {
	font-family: $btn-font;
	// font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.5em;
	border: 2px solid black;
	padding: 20px 15px 20px 15px;
	margin: 3vw auto 0 auto;
	background: transparent;
	text-transform: uppercase;
	text-decoration: none;
	color: $black;

}

/* ==========================================================================
   	LOGO Styles
   ========================================================================== */

a.navbar-brand.visible-logo {
	#mss-text {
		padding-left: 40px;	
	}
	img#mss-logo-navbar {
		display: inline;
	}
}
a.navbar-brand {
	padding-top: 17px;
	font-size: 4rem;
	z-index: 100;
	text-decoration: none;
	#mss-text {
		transition: all .5s ease;
		font-family: $top-font;
	}
	img#mss-logo-navbar {
		transition: all .5s ease;
		display: none;
		position: absolute;
		top: 9px;
		padding-right: 8px;
		height: 33px;
	}
}
a.navbar-brand, #mss-hero b {
	font-family: $top-font;
}

/* ==========================================================================
   	NAVBAR Styles
   ========================================================================== */

.nav {
	margin-top: 0;
}

.navbar {
	margin-top: 0px;
	margin-bottom: 0;
	border-radius: 0;
	z-index: 100000;
}
button.navbar-toggle {
	// border: 2px solid $black;
	// padding: 0;
	// margin: 10px
}
#menu-text {
	position: relative;
	top: -10px;

	font-size: 1.6rem;
	padding-right: 10px;
	letter-spacing: 1px;

	// padding-bottom: 10px;
	// margin-bottom: 15px;
	// line-height: 50px;
}
#menu-icon {
	// border: 2px solid $black;
	transition: all .2s linear;
	&.down {
		transform:rotate(180deg);
	}
}
#navbar-menu {
	float:right; 
}
ul.nav {
	list-style-type: none;
	&:last-child {
		margin-bottom: 16px;
	}
}
.nav>li>a {
    display: inline;
    padding: 0;
    user-select: none;
    text-decoration: none;
    &:hover {
    	user-select: none;
		background: transparent;
    }
}
.navbar-nav li{
	cursor: pointer;
	font-family: $nav-font;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.6rem;
	padding: 15px 2vw 4px 2vw;
	// letter-spacing: 1px;
}
.navbar-toggle {
	font-size: 4.5rem;
	padding: 2px 15px;
	height:50px;
	margin: 0 0;
	line-height: 100%;
}
/* BEFORE AFFIXING */
.affix-top {
	// @extend .z-depth-1;
	// @extend .blue, .darken-4;
	background: $white;
	margin-top: 0;
	border-bottom: 2px solid $black;
	a {
		color: $black;
	}
	.hvr-underline-reveal:before {
		background: $black;
	}
}
/* WHILE COLLAPSING */
.collapsing {
}
.in, .collapsing {
	text-align: right;
	border: none;
}
/* AFTER AFFIXING */
.affix {
	// It's weird on iOS Safari
	@extend .z-depth-1;
	// @extend .indigo-text, .text-darken-1;
	background: $white;
	margin-top: 0;
	border-bottom: 2px solid $black;
	a {
		color: $black;
		&.navbar-brand {
			// color: $indigo-violet;
		}
	}
	// .navbar-nav li {
	// 	color: $black;
	// }
	.hvr-underline-reveal:before {
		background: $black;
	}
}

/* ==========================================================================
   	TOP Styles
   ========================================================================== */

#top {
	border: 2px solid $black;
	margin: 1%;
	// @include full-screen;

	// background-image: url('../img/desk.jpeg');
	// background-repeat: repeat;
	// background-position: center top;
	// background-size: 100%;
	// @extend .red, .accent-1;
	// background: $lighter-yellow;
}
#mss-hero {
	// @include full-screen;
	text-align: center;
	h1 {
		font-size: 7vmax;
		font-family: $top-font;
		font-weight: 300;
		letter-spacing: 3px;
		padding-top: 60px;
		padding-bottom: 0;
	}
	h2 {
		font-weight: 400;
		padding: 0vh 8% 0 8%;
		sup {
			font-family: $top-font;
			font-size: 65%;
		}
	}
	p, a {
		color: $black;
	}
	#mss, #tagline {
		color: $mss-blue;
	}

	#typed {
		display: none;
		position: absolute;
		// left: 15%;
		// top: 37%;
		font-size: 1.3rem;
		text-align: left;
	}
	.typed-cursor {
		display: none;
	}

	a.btn {
		@extend .transparent-button;
		height: 85px;
		min-width: 130px;
		max-width: 150px;
		margin: 2vh auto 5vh auto;
		padding: 20px 15px 0px 15px;
		
		i {
			font-size: 3rem;
		}
	}
	#mss-logo-top {
		// height: 10vh;
		text-align: center;
		// margin-top: 80px;
		height: 30vh;
		img {
			width: auto;
			height: 100%;
			margin: 0 auto;
		}
	}
}

/* ==========================================================================
   	ABOUT Styles
   ========================================================================== */

#about {
	position: relative;
	z-index: 10;
	background-color: $mss-odd;
	@include jagged($mss-odd, 30, bottom);

	#text-box {
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		background: $navy-blue;
		// border: 4px solid $black;
		h2 {
			max-width: 75%;
			color: $white;
			font-size: 2.0rem;
			margin: 3% auto 3% auto;
			sup {
				font-family: $top-font;
				font-size: 65%;
			}
		}
	}
	sup {
		font-size: 65%;
	}
	#abt-row {
		padding: $section-padding;
		h2 {
			color: $black;
			font-size: 4rem;
			margin: 0 auto 3vw auto;
		}
	}
	p {
		font-size: 1.5rem;
		line-height: 1.7;
		text-align: left;
		font-weight: 500;
	}
	a.btn {
		@extend .transparent-button;
	}

	img {
		width: 70%;
		margin: auto;
	}
}

/* ==========================================================================
   	HOW IT WORKS Styles
   ========================================================================== */

#how-it-works {
	padding: $section-padding;
	text-align: center;
	background-color: $mss-even;
	@include jagged($mss-even, 30, bottom);
	// color: $white;
	h2 {
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
	.col-xs-12 {
		margin: 15px 0 15px 0;
	}

	#how-top {
		p {
			font-size: 1.5rem;
			line-height: 1.7;
			text-align: left;
		}
	}
	a.btn {
		@extend .transparent-button;
	}
}


/* ==========================================================================
   	SIGNUP Styles
   ========================================================================== */

// #sign-up {
// 	padding: $section-padding;
// 	background-color: $mss-odd;
// 	@include jagged($mss-odd, 30, bottom);
// 	h2 {
// 		color: $black;
// 		font-size: 4rem;
// 		margin: 0 auto 3vw auto;
// 	}
// 	p {
// 		font-size: 1.9rem;
// 		line-height: 1.7;
// 	}
// 	a.btn {
// 		@extend .transparent-button;
// 	}
// }


/* ==========================================================================
   	DOWNLOAD Styles
   ========================================================================== */

#download {
	padding: $section-padding;
	background-color: $mss-odd;
	@include jagged($mss-odd, 30, bottom);

	h2 {
		text-align: center;
		color: $black;
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
	p {
		padding: 0;
		font-size: 1.9rem;
		line-height: 1.7;
		// text-align: center;
		font-weight: 500;
	}
	a.btn {
		@extend .transparent-button;
	}
}

/* ==========================================================================
   	CUSTOMIZE Styles
   ========================================================================== */

#customize {
	padding: $section-padding;
	background-color: $mss-even;
	@include jagged($mss-even, 30, bottom);

	h2 {
		text-align: center;
		font-size: 4rem;
		margin: 0 auto 3vw auto;
	}
		
	#sample-text {
		margin: 0% auto 0 auto;
		.panel {
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			border-radius: 0;
			padding: 2%;
			margin: 3vw auto 3vw auto;
			// background: $lighter-yellow;
			.panel-body {
				padding: 15px 1%;
				// border: 8px solid $golden-yellow;
			}
			p {
				font-size: 2rem;
				line-height: 125%;
				&:last-of-type {
				    margin-bottom: 0;
				}
			}

			hr {
				border-top: 2px dotted $golden-yellow;
				margin-bottom: 30px;
			}
		}
		#sample-letter {
			// position: relative;
			p {
				font-family: "Petrona";
			}
			img {
				// width: 30%;
				display: block;
				margin: 0 auto;
				// margin-bottom: 25px;
				position: relative;
				z-index: 10;
			}
			.card-images {
				margin-bottom: 25px;
			}
			.card-images, img {
				height: 90px;
			}
			#loading-icon-container{
				// width: 100%;
				height: 100px;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				margin: 0 auto;
				#loading-icon {
					font-size: 3.5rem;
					position: relative;
					top: 30px;
					display: none;
					-webkit-animation: fa-spin 2s infinite linear;
					animation: fa-spin 2s infinite linear;
				}
			}
		}
	}
	.wedding-notice {
		text-align: center;
		display: none;
		font-size: 1.5rem;
		@extend .red-text, .text-darken-2;
		// padding: 10px 0 20px 0;
	}
	#customizers {
		margin-left: auto;
		margin-right: auto;
		#pickers {
			.alert {
				background: transparent;
				border: 4px solid #a94442;
				margin-top: 10px;
				font-size: 1.4rem;
				transition: all .2s ease-in-out;
				.close {
					color: #a94442;
					font-size: 3.5rem;
					text-decoration: none;
					margin-left: 7px;
					opacity: .7;
					&:hover {
						opacity: 1;
					}
				}
			}

			p#paper-desc {
				margin-top: 10px;
				max-width: 100%;
				font-size: 1.6rem;
			}
		}
		.col-sm-6 {
			text-align: center;
		}

		.btn-group{
			margin-bottom: 15px;
			width: 100%;
			.dropdown-menu {
				width: 100%;
				text-align: left;
			}
			button {
				// margin-bottom: 15px;
				border: 2px solid black;
				width: 100%;
			}
		}
		#calligraphy-notice {
			font-size: 1.4rem;
			text-align: left;
		}
	}
	#custom-orders {
		// margin-top: 1vw;
		p {
			max-width: 100%;
			font-size: 1.6rem;
		}
	}

	p {
		font-size: 1.9rem;
		line-height: 1.7;
		// text-align: left;
		font-weight: 500;
	}

	ul {
		// text-align: center;
		padding: 0;
		margin: 0;
		font-size: 1.7rem;
		list-style-type: none;
	}

	a.btn {
		@extend .transparent-button;
	}
}

/* ==========================================================================
   	CHECKOUT Styles
   ========================================================================== */

#checkout {
	@extend #download;
	.pricing {
		// max-width: 80vw;
		// width: 100%;
		// height: 100%;
		margin-right: auto;
		margin-left: auto;

		tbody, table, td {
			border: 2px solid $black;
			text-align: center;
			padding: 1vw;
			font-size: 1.9rem;
		}
		table {
			width: 100%;
			box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
			margin: 2vw auto 3vw auto;
			// max-width: 87vw;
			// border-collapse: collapse;
			background-color: $white;
			// padding: 5vw;
			margin-left: auto;
			margin-right: auto;
			// border: none;
			td {
				// border: 2px solid $golden-yellow;
				padding: 10px;
			}
			th {
				padding: 2vw;
				background-color: $mss-blue;
				// border: 2px solid $mss-blue;
				color: $white;
				text-align: center;
			}
		}
	}
	p {
		font-size: 1.9rem;
		&.smaller {
			font-size: 1.5rem;
			// max-width: 80vw;
		}
		&.smallest {
			font-size: 1.4rem;
			// text-align: center;
		}
		&.bigger {
			font-size: 2rem;
			// text-align: center;
			margin-top: 20px;
		}
	}

	form.paypal-form {
		table {
			box-shadow: none;
			background-color: transparent;
			border: none;
			width: 100%;
			text-align: center;
		}
		tbody, table, td {
			font-size: 1.9rem;
			border: none;
		}
		button, input{
			// margin-bottom: 15px;
			border: 2px solid black;
			width: 100%;
		}
		.btn-group{
			margin-bottom: 15px;
			width: 100%;
		}
		input.paypal-img {
			border: none;
			width: auto;
		}
		.paypal-btn {
			@extend .transparent-button;
			// background-color: black;
			// color: white;
			margin-top: 15px;
			transition: all .25s ease;
			&#paypal-btn2{
				margin-top: 0;
			}
			
			&.disabled {
				// pointer-events: none;
				// border: 2px solid grey !important;
				// color: grey !important;
				outline: none;
				opacity: .35;
				cursor: not-allowed !important;
			}
		}
		.pay-label {
			padding-bottom: 5px;
		}
	}
}

/* ==========================================================================
   	PRIVACY POLICY Styles
   ========================================================================== */

#privacy {
	@extend #download;
	min-height: 80vh;
	p {
		margin-top: 22vh;
	}
}


/* ==========================================================================
   	FOOTER Styles
   ========================================================================== */

footer {
	padding-top: 3vw;
	padding-bottom: 5vw;
	min-height: 90vh;
	background: $mss-blue;
	color: $white;

	i {
		padding: 3%;
	}
	h2 {
		font-family: $top-font;
	}
	a {
		color: $white;
		text-decoration: underline;
		text-decoration-style: dotted;
		&:hover {
			text-decoration: underline;
			color: $mss-green;
			// color: darken($light-yellow, 20%);
		}
		&:focus {
			color: $white;
		}
	}
	img {
		padding-top: 10px;
		width: 100px;
	}
}
