

/* ==========================================================================
   	ESP Productions by Daniel Salas, 2015
   ========================================================================== */

body {

}

#top {
	height:100vh;
	background-image: url('../img/dj.jpg');
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.overlay {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../img/pattern.png');
	background-repeat: repeat;
	background-color: rgba(44,62,80,0.6);
	z-index: 2;
}

#party {

}

#esp-top {
	font-size: 3rem;
	/*color: #FFFFFF;*/
	font-family: 'Megrim';
	z-index: 100;
}

.navbar {
	z-index: 100;
   	width:100vw;
	margin-top: 25px;
	margin-bottom: 0;
	border-radius: 0;
}

#esp-nav {
   	transition: all 0.4s ease;
}

#navbar-text {
	/*color:#FFFFFF;*/
	float:right; 
	margin-top:15px
}

.affix-top, .affix-top a {
	position: absolute;
	color: #FFFFFF;	
}

.affix {
	margin-top: 0 !important;
	background: #FFFFFF;
	color: #464d55;
	/*add browser support*/
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5)
}
.affix a {
	color: #464d55;
}

#content {

}















