


/* ==========================================================================
   	ESP Productions by Daniel Salas, 2015
   ========================================================================== */

* {
	font-family: 'Nobile';
}

ul {
	list-style-type: none;
}

a.navbar-brand {
	font-size: 4rem;
	/*color: #FFFFFF;*/
	z-index: 100;
	line-height: 100%;
	padding-top: 3px;
}

a.navbar-brand, #party b {
	font-family: 'Megrim';
}

.navbar {
	z-index: 100;
   	width:100vw;
	margin-top: 25px;
	margin-bottom: 0;
	border-radius: 0;
}

#esp-nav {
   	transition: all 0.4s ease;
}

#navbar {
	/*color:#FFFFFF;*/
	float:right; 
	/*transition: all 0.1s ease;*/
}
.ion-navicon, .navbar-toggle {
	font-size: 4.5rem;
	padding: 2px 15px;
	height:50px;
	margin: 0 0;
	line-height: 100%;
}

.affix-top, .affix-top a {
	position: absolute;
	color: #FFFFFF;	
}

.affix {
	margin-top: 0 !important;
	background: #FFFFFF;
	color: #464d55;
	/*add browser support*/
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	height: 1vh;
}
.affix a {
	color: #464d55;
}

.collapse.in {

}

#top {
	height:100vh;
	background-image: url('../img/dj.jpg');
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.overlay {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../img/pattern.png');
	background-repeat: repeat;
	background-color: rgba(44,62,80,0.6);
	z-index: 2;
}

#party p {
	padding-top: 25vh;
	padding-left: 20%;
	padding-right: 20%;
	font-size: 5vmin;
	color:white;
	font-family: 'Quicksand';
}

#party h1 {
	/*line-height: 100vh;*/
	padding-top: 8vh;
	font-size: 8vw;
	color:white;
	font-family: 'Quicksand';
}

#party b {
	font-size: 8vw;
}

#content {

}















