$white:				#FFF;
$black:				#131B21;
$gold:				#D4BD7C;
$golden-yellow:		#ffe082;
$beige:				#ECECEC;
$light-yellow:		#fff9c4;
$lighter-yellow:	#fffde7;
$indigo-violet:		#3A3961;


$navy-blue:			#132640;
$dark-blue:			#072940;

// /////////////////
// // ASSIGNMENTS //
// /////////////////

$about-color:		$dark-blue;
$mss-color:			$gold;

$section-padding:		8vw 5vw;
$header-margin: 		0;
$header-margin-jagged:	0;