$white:				#FFF;
$black:				#131B21;
$beige:				#ECECEC;

$gold:				#D4BD7C;
$golden-yellow:		#ffe082;

$light-yellow:		#fff9c4;
$light-yellow:		#fff59d;

$yellow-accent-1:	#ffff8d;
$yellow-accent:		#fff176;

$lighter-yellow:	#fffde7;
$lighter-yellow:	#FFFCD5;

$bright-yellow: 	#ffee58;

$indigo-violet:		#3A3961;

$navy-blue:			#132640;
$dark-blue:			#01579b;

$mss-blue:			#00B0EA;
$mss-yellow:		$yellow-accent;

$mss-top:			$mss-yellow;
$mss-odd:			$lighter-yellow;
$mss-even:			$light-yellow;//$yellow-accent;



// /////////////////
// // ASSIGNMENTS //
// /////////////////

$about-color:		$dark-blue;
$mss-color:			$gold;

$section-padding:		8vw 5vw;
$header-margin: 		0;
$header-margin-jagged:	0;