$white:				#f7f7f7;//#FFF;
$black:				#131B21;
$light-grey:		#ECECEC;
$dark-grey:			#858585;
$grey-blue:			#7995B3;

$gold:				#D4BD7C;
$golden-yellow:		#ffe082;

$light-yellow:		#fff9c4;
$light-yellow:		#fff59d;

$yellow-accent-1:	#ffff8d;
$yellow-accent:		#fff176;

$lighter-yellow:	#fffde7;
$lighter-yellow:	#FFFCD5;

$bright-yellow: 	#ffee58;

$indigo-violet:		#3A3961;

// $navy-blue:			#132640;
$navy-blue:			#032C56;
$dark-blue:			#01579b;

$mss-blue:			#00B0EA;
$mss-blue:			$navy-blue;
$mss-green:			#006844;
$mss-yellow:		$yellow-accent;

$mss-top:			$mss-yellow;
$mss-odd:			$white;//$lighter-yellow;
$mss-even:			$light-grey;//$light-yellow;//$yellow-accent;



// /////////////////
// // ASSIGNMENTS //
// /////////////////

$about-color:		$dark-blue;
$mss-color:			$gold;

$section-padding:		8vw 5vw;
$header-margin: 		0;
$header-margin-jagged:	0;