// Font assignments
$sans-serif:        (Helvetica, Arial, sans-serif);
$serif:             (Times, serif);

$title-font:		$serif;
$body-font:			$sans-serif;


// Color assignments
$background-color: 		#f8f7f2;
$font-color: 			#3e3e3c;
$versing-red:			#f15b55;

// Layout assignments
$max-width: 900px;
$spacer:	16px;
$half-spacer: $spacer / 2;
$double-spacer: $spacer * 2;

// General styles
body {
	background: $background-color;
	color: $font-color;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: $font-color;
	&:hover {
		color: $versing-red;
		text-decoration: underline;
	}
}
h2 {
	text-align: center;
}
.main {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 $half-spacer;
}
.section {
	margin-top: $double-spacer;
}

// Top styles
.versing-title {
	font-family: $serif;
	font-style: italic;
	font-weight: bold;
	color: $versing-red;
	font-size: 64px;
	line-height: 67%;
	text-align: center;
	user-select: none;
	cursor: pointer;
}
ul.top-menu {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.top-menu li {
	list-style: none;
	letter-spacing: 1px;
	font-size: 13px;
}
.versing-img img {
	max-width: 100%;
}

// Listen / Watch
#album-covers, #video-thumbs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	margin-bottom: $spacer;
	
	div {
		text-align: center;
		width: 30%;
		p {
			margin-top: 0;
		}
	}
	img {
		width: 100%;
		box-sizing: border-box;
		border: 3px solid transparent;
		cursor: pointer;

		&:hover, &.active {
			border-color: $versing-red;
		}
	}
}
.bandcamp-embed, .youtube-embed {
	display: none;
	text-align: center;
	margin-bottom: $spacer;

	&.show {
		display: block;
	}
}
.bandcamp-embed iframe {
	max-width: 700px;
}
iframe {
	margin-top: $spacer;
}
.thumb-title {
	display: flex;
	flex-direction: column;
}

footer {
	text-align: center;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}