/* ==========================================================================
   	Modern Social Secretary by Daniel Salas, 2015

	Import all the breakpoint files here.
   ========================================================================== */

@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";

/////	Breakpoint variables /////
$small:			450px;
$medium:		641px;
$large:			1026px;
$x-large:		1442px;

// Unused for this project (so far)
// $small:			600px;
// $x-large:		1240px;

/*********************
EXTRA SMALL
For phones in portrait.
*********************/
@import "breakpoints/xs";

/*********************
SMALL
For slightly less small devices (used for phones in this project)
*********************/
@media only screen and (min-width: $small) {
	@import "breakpoints/s";
} // end of media query


/*********************
MEDIUM
For tablets and smaller laptops
*********************/
@media only screen and (min-width: $medium) {
	@import "breakpoints/m";
} // end of media query

/*********************
LARGE
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. 
Adds resource intensive styles.
*********************/
@media only screen and (min-width: $large) {
	@import "breakpoints/l";
} // end of media query

/*********************
EXTRA LARGE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: $x-large) {
	@import "breakpoints/xl";
} // end of media query





