//////////////////////
// FONT ASSIGNMENTS //
//////////////////////

$sans-serif:    "Varela Round", Helvetica, Arial, sans-serif;
$serif:         "Playfair Display", Cambria, Times New Roman, Times, serif;

$main-font:	    $sans-serif;
$top-font:	    $serif;
// $nav-font:  	
// $btn-font:	    